<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Alle studenten:</h1>
    <% studenten.forEach(student => { %> 
        <ul>
            <li>naam: <%=  student.naam%></li>
            <li>Geboortedatum: <%=  new Date(student.geboortedatum).toLocaleDateString()%></li>
            <li>Studierichting: <%=  student.studierichting%></li>
        </ul>
        <% }) %>
</body>
</html>