<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        <input type="text" placeholder="naam" name="naam"><br/>
        <input type="date" placeholder="geboortedatum" name="geboortedatum"><br/>
        <input type="text" placeholder="studierichting" name="studierichting"><br/>
        <button type="submit">Toevoegen</button></br>
    </form>


    <h1>Alle studenten:</h1>
    <% studenten.forEach(student => { %> 
        <ul>
            <li>naam: <%=  student.naam%></li>
            <li>Geboortedatum: <%=  new Date(student.geboortedatum).toLocaleDateString()%></li>
            <li>Studierichting: <%=  student.studierichting%></li>
        </ul>
        <% }) %>
</body>
</html>